/** GENERIC STYLE INFORMATIONS */

/*todo Universal Selector */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*todo Tag HTML */
button{
    border: none;
}

ul{
    list-style: none;
}


/*todo Classes */
.container{
    width: 70%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.text-content{
    background-color: pink;
}



/** SPECIFI STYLE INFORMATIONS */
/*todo Header Section */
header{
    background-color: blue;
    padding-top: 1rem ;
}

header nav{
    background: yellow;
}

header nav.flex{
    align-items: center;
}

header .logo,
header button{
    width: 20%;
}

header ul{
    width: 60%;
}

header ul.flex{
    justify-content: space-around;
    padding: 0.5rem calc(100%/3);
}

header ul.flex li{
    padding: 0 1.5rem;
}

header button{
    text-align: end;
}


/*todo Main Section */
main{
    background-color: brown;
}


/*todo Footer Section */
footer{
    background-color: black;
    color: white;
}